body{
    font-family: "バナナスリップplus plus";
}

header{
    height: 80px;
    background:repeating-linear-gradient(
        -45deg,
           rgb(250, 207, 122, 0.5) 0,rgb(250, 207, 122, 0.5) 20px,  rgb(123, 183, 223, 0.5) 20px,
           rgba(123, 183, 223, 0.5) 40px, rgb(207, 138, 221, 0.5) 40px, rgba(207, 138, 221, 0.5) 60px,
           rgba(253, 178, 211, 0.5) 60px, rgb(253, 178, 211, 0.5) 80px );

    padding:20px;       
}

.header-logo{
    float: left;
    margin-right: 650px;
    margin-left: 100px;
}


li{
    list-style: none;
}

.header-list li {
    float: left;
    padding:20px;
}

ul a{
    position: relative;
    display: inline-block;
    transition: .3s;
}

ul a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 1px;
    background-color: orange;
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

ul a:hover::after {
    width: 100%;
}

a {
    text-decoration: none
}

a:link {
    color:black;
}
.twitter:link {
    color: #00acee;
}
.youtube:link {
    color:red;
}

a:visited {
    color: dimgray;
}
a:hover {
    color:  darkslategray;
}
a:active {
    color:dimgray;
}


footer{
    height: 60px;
    background:repeating-linear-gradient(
        -45deg,
           rgb(250, 207, 122, 0.5) 0,rgb(250, 207, 122, 0.5) 20px,  rgb(123, 183, 223, 0.5) 20px,
           rgba(123, 183, 223, 0.5) 40px, rgb(207, 138, 221, 0.5) 40px, rgba(207, 138, 221, 0.5) 60px,
           rgba(253, 178, 211, 0.5) 60px, rgb(253, 178, 211, 0.5) 80px );

    padding:15px;

}

.footer-logo {
    float: left;
}

.moco {
    float: right;
}